.submitButton {
  height: 5rem;
  width: 100%;
  border: 3px solid lighten($color: $peter-river, $amount: 7%);
  // border-radius: 2rem;
  background-color: lighten($color: $peter-river, $amount: 10%);
  font-size: 2rem;
  color: lighten($color: $sunflower, $amount: 35%);
  min-width: 20rem;
  transition: all .7s;
}

.submitButton:hover {
  cursor: pointer;
  background-color:  $peter-river;
  border-color: darken($peter-river,5%);
}

.postButtonWrapper {
  display: flex;
  margin-top: 2rem;
}

.postButton {
  flex: 1;
  background-color: $concrete;
  font-size: 2rem;
  color: $clouds;
  height: 4rem;
  min-width: 12rem;
  border: 3px solid $concrete;
  transition: all .7s;
  margin: 0 7rem;
}

.postButton:hover {
  cursor: pointer;
  background-color: darken($turqoise,10%);
  border-color: darken($turqoise, 12%);
}
