.postWrapper {
  padding: 0 8rem;
}


.postTitleInput {
  height: 5rem;
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #ddd;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  margin-top: 1rem;
}

.postTitleView{
  text-align: center;
  font-size: 3rem;
  font-weight: light;
  margin: 2rem 0;
}

