html {
  font-size: 62.5%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4f4c4d;
  box-sizing: border-box;
}

body {
  // color: $peter-river;
  font-family: $font-family;
  font-size: $m-size;
  margin: 0;
}


.container {
  max-width: 75rem;  
  margin: auto;
  padding-left: $s-size;
  padding-right: $s-size;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}


.hide-xs {
  display: none;
}

/*
.reset-img-size {
  height: auto;
  width: 100%;
  display: block;
  border-radius: 7px;
}
*/

/* start - Responsive CSS */


.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
} 
.row:after,
.group:after {
  clear: both;
}
.row,
.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row {
  margin-right: -$s-size;
  box-sizing: border-box;
}

.col {
  float: left;
  padding-right: $s-size;
  box-sizing: border-box;
  padding-bottom:$s-size;
}

.col-xs-1  { width: 8.332%  ; }
.col-xs-2  { width: 16.662% ; }
.col-xs-3  { width: 25%     ; }
.col-xs-4  { width: 33.332% ; }
.col-xs-5  { width: 41.662% ; }
.col-xs-6  { width: 50%     ; }
.col-xs-7  { width: 58.332% ; }
.col-xs-8  { width: 66.662% ; }
.col-xs-9  { width: 75%     ; }
.col-xs-10 { width: 83.332% ; }
.col-xs-11 { width: 91.662% ; }
.col-xs-12 { width: 100%    ; }

// small screen
@media (min-width: $sm-min-width) {
  .col-sm-1  { width: 8.332%  ; }
  .col-sm-2  { width: 16.662% ; }
  .col-sm-3  { width: 25%     ; }
  .col-sm-4  { width: 33.332% ; }
  .col-sm-5  { width: 41.662% ; }
  .col-sm-6  { width: 50%     ; }
  .col-sm-7  { width: 58.332% ; }
  .col-sm-8  { width: 66.662% ; }
  .col-sm-9  { width: 75%     ; }
  .col-sm-10 { width: 83.332% ; }
  .col-sm-11 { width: 91.662% ; }
  .col-sm-12 { width: 100%    ; }
}

@media (min-width: $md-min-width) {

  .col-md-1  { width: 8.332%  ; }
  .col-md-2  { width: 16.662% ; }
  .col-md-3  { width: 25%     ; }
  .col-md-4  { width: 33.332% ; }
  .col-md-5  { width: 41.662% ; }
  .col-md-6  { width: 50%     ; }
  .col-md-7  { width: 58.332% ; }
  .col-md-8  { width: 66.662% ; }
  .col-md-9  { width: 75%     ; }
  .col-md-10 { width: 83.332% ; }
  .col-md-11 { width: 91.662% ; }
  .col-md-12 { width: 100%    ; }
}

@media (min-width: $lg-min-width) {

  .col-lg-1  { width: 8.332%  ; }
  .col-lg-2  { width: 16.662% ; }
  .col-lg-3  { width: 25%     ; }
  .col-lg-4  { width: 33.332% ; }
  .col-lg-5  { width: 41.662% ; }
  .col-lg-6  { width: 50%     ; }
  .col-lg-7  { width: 58.332% ; }
  .col-lg-8  { width: 66.662% ; }
  .col-lg-9  { width: 75%     ; }
  .col-lg-10 { width: 83.332% ; }
  .col-lg-11 { width: 91.662% ; }
  .col-lg-12 { width: 100%    ; }
}


/* end - Responsive CSS  */


/*


h2 {
  font-weight: normal;
  font-size: 40px;
}

aside {
  background-color: #227fbb;
  padding: 10px;
  color: #bdc3c7;
  border-radius: 15px;
}

aside h3 {
  text-align: center;
  margin: 0;
}

aside p {
  margin: 0;
}

footer {
  background-color: khaki;
  padding: 10px;
  text-align: center;
}

footer p {
  margin: 0;
}

*/